<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.EmpMapper">
	<!-- 动态更新员工信息操作 -->
	<update id="update2">
		update emp
		<set>
			<if test="username != null">username=#{username},</if>
			<if test="name != null">name=#{name},</if>
			<if test="gender != null">gender=#{gender},</if>
			<if test="image != null">image=#{image},</if>
			<if test="job != null">job=#{job},</if>
			<if test="entrydate != null">entrydate=#{entrydate},</if>
			<if test="deptId != null">dept_id=#{deptId},</if>
			<if test="updateTime != null">update_time=#{updateTime}</if>
		</set>
		where id = #{id}
	</update>


	<!-- mapper的namespace为EmpMapper实现函数接口的路径 -->
	<!--    resultType:单条记录所封装的类型路径。这个例子中的emp是这次选择查询的返回类型-->
	<!-- id的取值跟EmpMapper中调用的函数名一致 -->
	<!-- select中编写sql语句 -->
	<select id="list" resultType="com.itheima.pojo.Emp">
		select *
		from emp
		<!-- where之后的if都是对应的查询条件
		 这里表示，如果查询的name不为空时的处理操作等-->
		<where>
			<if test="name != null">
				name like concat('%', #{name}, '%')
			</if>
			<if test="gender != null">
				and gender = #{gender}
			</if>
			<if test="begin != null and end != null">
				and entrydate between #{begin} and #{end}
			</if>
		</where>
		order by update_time desc
	</select>

	<!-- 批量删除操作 -->
	<delete id="deleteByIds">
		/*foreach循环操作问题:
		  比方说现在要遍历(18,19,20)这个数组s
		collection:遍历的集合
		item:遍历出来的元素
		separtor:分隔符
		open:遍历开始前拼接的SQL片段
		close:遍历拼接结束后的SQL片段
		*/
		delete
		from emp
		where id in
		<foreach collection="ids" item="id" separator="," open="!" close=")">
			#{id}
		</foreach>
	</delete>

</mapper>







